body {
  font-family: "Open Sans", sans-serif;
}
.container {
  max-width: 1200px;
  height: auto;
  width: 80%;
  margin: 60px auto;
}
header {
  background-image: url("../images/nairobi.jpg");
  opacity: 0.9;
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 200px 0;
  text-align: center;
}
h1 {
  font-size: 60px;
  position: relative;
  top: -50px;
  letter-spacing: 5px;
  font-weight: 600;
}

h4 {
  font-style: italic;
  margin-bottom: 50px;
  position: relative;
  top: -60px;
  font-weight: 400;
  margin-left: 30px;
}
header button {
  border-radius: 5px;
  border: 0.5px solid #684325;
  padding: 10px;
  background-color: #eca537;
  color: white;
  text-decoration: underline;
  margin-left: 30px;
    transition: 150ms all ease-in-out;
}
header button:hover {
  color: #eca537;
  background: white;
}

main {
  background-color: #d3884a;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}

main img {
  width: 400px;
  height: auto;
  padding: 5px 20px 20px 0;

}

main h3 {
  margin-bottom: 3px;
  opacity: 0.8;
  text-align: center;
  font-size: 15px;
  margin-top: 0;
}


main .background {
  margin-top: 0;
  text-align: justify;
  font-size: 12px;
  color: white;
}

.recommendationSection{
  padding: 5px 10px 20px 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
    background-color: #e0a06c;

}
.balloonSafari, .nairobiPark, .maasai{
  padding-bottom: 20px;
}
h5{
  text-align: center;
  margin-bottom: 10px;
}
.recommendationImages{
  width: 300px;
  height: 300px;
  display: block;
  margin: 0 auto;
  padding: 5px;
}
.recommendationDescriptions{
  text-align: justify;
  font-size: 12px;
  padding: 0 10px;
  color: white;
}
.recommendationSection button{
  border: 0.5px solid #e0a06c;
  border-radius: 5px;
  padding: 5px;
    display: block;
  margin: 0 auto;
    background-color: #ac703e;
  color: white;
  transition: 150ms all ease-in-out;
}
.recommendationSection button:hover{
  cursor: pointer;
}
.footerContainer {
  border: 1px solid #3d291e;
  background-color: #3d291e;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  padding: 20px;
}
footer ul {
  list-style: none;
  font-size: 14px;
  text-align: center;
  padding: 0;
}
footer a,
footer li {
  color: #eca537;
  text-decoration: none;
  font-size: 12px;
  margin-top: 10px;
}
footer a:hover {
  cursor: pointer;
    color: #b8afa1;
}

.aboutMe a {
  text-decoration: underline;
  color: #b8afa1;
}
.aboutMe a:hover{
  color: #eca537;
}

@media (max-width: 800px) {
  h4 {
    margin-left: 10px;
  }
  header button {
    margin-left: 16px;
  }
  main {
    display: block;
  }
  main img {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 100%;
  padding: 5px;
  }
  .recommendationSection{
    display: block;
  }


}
